.view-more {
  position: relative;
  padding: 12px;

  @media (max-width: 768px) {
    padding: 8px;
  }

  &:hover {
    a {
      .arrow {
        left: 112px;

        @media (max-width: 768px) {
          left: 90px;
        }
      }
    }
  }

  .circle {
    width: 34px;
    height: 34px;
    background-color: rgba(102, 204, 199, 0.15);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;

    @media (max-width: 768px) {
      width: 28px;
      height: 28px;
    }
  }

  a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #004b4a;
    font-family: "Oregon LDO DemiBold";
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 98%; /* 18.62px */
    letter-spacing: 0.57px;
    text-decoration: none;
    position: relative;

    @media (max-width: 768px) {
      font-size: 14px;
      gap: 6px;
    }

    .arrow {
      position: absolute;
      transition: all 0.5s;
      left: 100px;

      @media (max-width: 768px) {
        left: 80px;
        width: 14px;
        height: 14px;
      }
    }
  }
}
