.contact-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
  position: relative;
  min-height: 400px;

  @media (max-width: 767px) {
    min-height: 320px;
  }

  .video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &__container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }

  &__content {
    position: relative;
    color: #fff;
    z-index: 1;

    @media (max-width: 767px) {
      width: 100%;
    }

    h2 {
      font-size: 80px;
      font-weight: 600;
      margin-bottom: 8px;
      font-family: 'Playfair', serif;

      @media (max-width: 767px) {
        font-size: 44px;
        margin-bottom: 20px;
      }
    }

    .subtitle {
      margin-bottom: 32px;
      font-size: 28px;
      font-family: 'Playfair', serif;;
      letter-spacing: -1.2px;

      @media (max-width: 767px) {
        font-size: 20px;
        margin-bottom: 12px;
      }
    }

    .description {
      font-size: 15px;
      line-height: 1.5;
      margin-bottom: 64px;

      @media (max-width: 767px) {
        font-size: 13px;
        line-height: 1.6;
      }
    }

    .contact-btn {
      padding: 0 20px;
      border: 1px solid #fff;
      background: transparent;
      color: #fff;
      height: 56px;
      cursor: pointer;
      font-size: 19px;
      transition: all 0.3s ease;
      display: flex;
      align-items: center;

      @media (max-width: 767px) {
        height: 48px;
        padding: 0 16px;
        font-size: 17px;
        svg {
          width: 20px;
          height: 20px;
        }
      }

      &:hover {
        background: #fff;
        color: #002c2c;
      }
    }
  }

  &__image {
    @media (max-width: 767px) {
      display: none;
    }
  }
}
