.home-page {
  min-height: 100vh;
  overflow-x: hidden;

  main {
    position: relative;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 80px;

    .videoTag {
      height: 100%;
      width: 100%;
      float: left;
      top: 0;
      padding: none;
      object-fit: cover;

      @media (max-width: 768px) {
        height: 100vh;
        min-height: 500px;
        margin-bottom: 0;
      }
    }

    .main-container {
      padding: 700px 300px 140px;
      position: absolute;

      @media (max-width: 1024px) {
        padding: 500px 100px 100px;
      }

      @media (max-width: 768px) {
        // padding: 0 20px;
        // top: 50%;
        // transform: translateY(-50%);
        padding: 500px 30px;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
      }

      p {
        color: #fff;
        font-family: "Oregon LDO DemiBold";
        font-size: 19px;
        font-style: normal;
        font-weight: 600;

        @media (max-width: 768px) {
          font-size: 12px;
          margin-bottom: 8px;
          letter-spacing: 1px;
        }
      }

      h1 {
        color: #fff;
        font-family: "Arita Buri KR";
        font-size: 68px;
        font-style: normal;
        font-weight: 700;

        @media (max-width: 1024px) {
          font-size: 48px;
        }

        @media (max-width: 768px) {
          font-size: 36px;
          line-height: 1.5;
          letter-spacing: -0.5px;
        }

        span {
          font-weight: 300;
        }
      }
    }
  }

  .section-1 {
    position: relative;
    // padding: 0 24px;

    @media (max-width: 768px) {
      padding: 40px 0px;
    }

    .line-center {
      text-align: center;

      .line {
        display: inline-block;
        height: 64px;
        width: 1px;
        border: 1px solid #d8d8d8;
        margin-bottom: 48px;

        @media (max-width: 768px) {
          height: 32px;
          margin-bottom: 20px;
          margin-top: 80px;
        }
      }
    }

    .main-image {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      @media (max-width: 768px) {
        justify-content: center;
        margin-bottom: 32px;
        margin-top: 80px;
        margin-left: 20px;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    h3 {
      color: #002c2c;
      text-align: center;
      font-family: "Noto Serif CJK KR";
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: -0.84px;
      margin: 0 auto;
      margin-bottom: 113px;
      width: 80%;

      @media (max-width: 768px) {
        font-size: 20px;
        margin-bottom: 0;
        line-height: 1.7;
        letter-spacing: -0.3px;

        br {
          display: none;
        }
      }
    }

    .trust-partner {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
      }

      .left {
        @media (max-width: 768px) {
          width: 100%;
        }

        h1 {
          position: relative;
          top: -44px;
          color: #002c2c;
          font-family: Playfair;
          font-size: 110px;
          font-style: normal;
          font-weight: 600;
          line-height: 98%;
          letter-spacing: -3px;
          margin-bottom: 80px;

          @media (max-width: 1024px) {
            font-size: 72px;
          }

          @media (max-width: 768px) {
            font-size: 64px;
            top: 0;
            margin-bottom: 12px;
            letter-spacing: -1px;
            line-height: 1.1;
          }
        }

        .view-more {
          @media (max-width: 768px) {
            margin-top: 8px;

            a {
              font-size: 14px;
            }
          }
        }
      }

      .right {
        @media (max-width: 768px) {
          width: 100%;
        }

        h4 {
          color: #1d1d1d;
          font-family: Pretendard;
          font-size: 25px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%;
          letter-spacing: -0.125px;

          @media (max-width: 768px) {
            font-size: 15px;
            line-height: 1.6;


          }

          span {
            color: #00a89e;
          }
        }

        p {
          margin-top: 16px;
          color: #555;
          font-family: Pretendard;
          font-size: 17px;
          font-style: normal;
          font-weight: 500;
          line-height: 145%;
          letter-spacing: -0.085px;

          @media (max-width: 768px) {
            font-size: 13px;
            margin-top: 10px;
            color: #666;
          }
        }
      }
    }
  }

  .section-2 {
    margin: 130px 0 30px;
    overflow: hidden;
    position: relative;

    @media (max-width: 768px) {
      margin: 40px 0;
    }

    .tax-account {
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      .left-img {
        @media (max-width: 768px) {
          width: 100%;
          padding-right: 20px;
          box-sizing: border-box;

          img {
            width: 100%;
            height: auto;
          }
        }
      }

      h1 {
        position: absolute;
        z-index: -1;
        left: 50%;
        width: 100%;
        color: #f8f8f8;
        text-align: center;
        font-family: Playfair;
        font-size: 260px;
        font-style: normal;
        font-weight: 600;
        line-height: 98%;
        letter-spacing: -3px;
        overflow: hidden;

        @media (max-width: 1024px) {
          font-size: 160px;
        }

        @media (max-width: 768px) {
          font-size: 80px;
          left: 0;
          width: 134%;
          overflow: hidden;
          top: 40%;
          transform: translateY(-50%);
          line-height: 1.1;
        }
      }
    }

    .tax-account-text {
      display: flex;
      justify-content: space-between;
      position: relative;
      top: -100px;

      @media (max-width: 768px) {
        flex-direction: column-reverse;
        top: 0;
        gap: 20px;
        margin-top: 140px;
      padding: 0 24px;

      }

      h3 {
        color: #1d1d1d;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.125px;
        margin-top: 200px;

        @media (max-width: 768px) {
          font-size: 17px;
          margin-top: 40px;
          line-height: 1.6;

        }

        span {
          color: #00a89e;
        }
      }

      .right-img {
        @media (max-width: 768px) {
          // width: 100%;
          // display: flex;
          // justify-content: flex-end;

          img {
            width: 40%;
            height: auto;
            position: absolute;
            right: 0;
            bottom: 120px;
            // border-radius: 4px;
          }
        }
      }
    }
  }
}