.home-page {
  min-height: 100vh;
  overflow-x: hidden;

  .mobileBr {
    display: none;
  
    @media (max-width: 576px) {
      display: block;
    }
  }

  main {
    position: relative;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 80px;
    margin-top: -92px; 

    .videoTag {
      min-height: 1080px;
      width: 100%;
      float: left;
      top: 0;
      padding: none;
      object-fit: cover;

      @media (max-width: 767px) {
        margin-top: -52px;
        height: 100vh;
        min-height: 500px;
        margin-bottom: 0;
      }
    }

    

    .main-container {
      position: absolute;
      left: 300px;
      bottom: 140px;

      @media (max-width: 1024px) {
        left: 100px;
      }

      @media (max-width: 767px) {
        left: 50%;
        bottom: 30%;
        transform: translate(-50%, 50%);
        // padding: 500px 30px;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
      }

      p {
        color: #fff;
        font-family: "Oregon LDO DemiBold";
        font-size: 19px;
        font-style: normal;
        font-weight: 600;
        // 0115
        line-height: 300%;
        // 0115

        @media (max-width: 767px) {
          font-size: 12px;
          margin-bottom: 8px;
          letter-spacing: 1px;
        }
      }

      h1 {
        color: #fff;
        font-family: 'Arita Buri KR', sans-serif;
        font-size: 68px;
        font-style: normal;
        font-weight: 700;
        // 0115
        letter-spacing: -3.5px;
        line-height: 1.4;
        // 0115

        @media (max-width: 1024px) {
          font-size: 48px;
        }

        @media (max-width: 767px) {
          font-size: 36px;
          line-height: 1.4;
          letter-spacing: -0.5px;
          padding: 0 20px;
        }

        span {
          font-weight: 300;
        }
        // 0115 고객이 걸어갈 길 폰트두께 수정
      }
    }
  }

  .section-1 {
    position: relative;
    // padding: 0 24px;

    @media (max-width: 767px) {
      padding: 0px 0px 56px;
    }

    .line-center {
      text-align: center;

      .line {
        display: inline-block;
        height: 64px;
        width: 1px;
        border: 1px solid #d8d8d8;
        margin-bottom: 48px;

        @media (max-width: 767px) {
          height: 32px;
          margin-bottom: 20px;
        }
      }
    }

    .main-image {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      @media (max-width: 767px) {
        justify-content: center;
        margin-bottom: 32px;
        margin-top: 80px;
        margin-left: 20px;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    h3 {
      color: #002c2c;
      text-align: center;
      font-family: 'Playfair', serif;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: -1.6px;
      margin: 0 auto;
      margin-bottom: 113px;
      width: 80%;

      @media (max-width: 767px) {
        font-size: 19px;
        margin-bottom: 0;
        line-height: 1.7;
        letter-spacing: -0.8px;

      
      }
    }

    .trust-partner {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      @media (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
      }

      .left {
        @media (max-width: 767px) {
          width: 100%;
        }

        h1 {
          position: relative;
          top: -44px;
          color: #002c2c;
          font-family: Playfair;
          font-size: 110px;
          font-style: normal;
          font-weight: 600;
          line-height: 98%;
          letter-spacing: -3px;
          margin-bottom: 36px;

          @media (max-width: 1024px) {
            font-size: 72px;
          }

          @media (max-width: 767px) {
            font-size: 64px;
            top: 0;
            margin-bottom: 16px;
            letter-spacing: -2.6px;
            line-height: 0.9;
          }
        }

        .view-more {
          @media (max-width: 767px) {
            margin-top: 8px;

            a {
              font-size: 14px;
            }
          }
        }
      }

      .right {
        @media (max-width: 767px) {
          width: 100%;
        }

        h4 {
          color: #1d1d1d;
          font-family: Pretendard;
          font-size: 25px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%;
          letter-spacing: -0.125px;

          @media (max-width: 767px) {
            font-size: 15px;
            line-height: 1.6;
          }

          span {
            color: #00a89e;
          }
        }

        p {
          margin-top: 16px;
          color: #555;
          font-family: Pretendard;
          font-size: 17px;
          font-style: normal;
          font-weight: 500;
          line-height: 145%;
          letter-spacing: -0.085px;

          @media (max-width: 767px) {
            font-size: 13px;
            margin-top: 10px;
            color: #666;
          }
        }
      }
    }
  }

  .section-2 {
    margin: 130px 0 30px;
    overflow: hidden;
    position: relative;

    @media (max-width: 767px) {
      margin: 40px 0;
    }

    .tax-account {
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;

      @media (max-width: 767px) {
        flex-direction: column;
      }

      .left-img {
        width: 57%;
        img {
          width: 100%;
          height: auto;
        }
        @media (max-width: 767px) {
          width: 100%;
          padding-right: 20px;
          box-sizing: border-box;
        }
      }

      h1 {
        position: absolute;
        z-index: -1;
        left: 45%;
        width: 100%;
        color: #f8f8f8;
        text-align: center;
        font-family: Playfair;
        font-size: 260px;
        font-style: normal;
        font-weight: 600;
        line-height: 98%;
        letter-spacing: -3px;
        overflow: hidden;

        @media (max-width: 1024px) {
          font-size: 160px;
        }

        @media (max-width: 767px) {
          font-size: 80px;
          left: 0;
          width: 134%;
          overflow: hidden;
          top: 37%;
          transform: translateY(-50%);
          line-height: 1.1;
        }

        @media (max-width: 450px) {
          top: 50%;
          font-size: 70px;
          text-align: start;
          line-height: 1;
        }
      }
    }

    .tax-account-text {
      display: flex;
      justify-content: space-between;
      position: relative;
      top: -100px;

      @media (max-width: 767px) {
        flex-direction: column-reverse;
        top: 0;
        gap: 20px;
        margin-top: 215px;
      }

      @media (max-width: 450px) {
        margin-top: 130px;
        margin-bottom: 50px;
      }

      h3 {
        color: #1d1d1d;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.125px;
        margin-top: 200px;

        @media (max-width: 767px) {
          font-size: 17px;
          margin-top: 0px;
          line-height: 1.6;
        }

        span {
          color: #00a89e;
        }
      }

      .right-img {
        width: 33%;
        img {
          width: 100%;
        }
        @media (max-width: 767px) {
          width: 100%;
          // display: flex;
          // justify-content: flex-end;

          img {
            width: 40%;
            height: auto;
            position: absolute;
            right: -20px;
            bottom: 10px;
            // border-radius: 4px;
          }
        }
      }
    }
  }
  .floatingButtons {
    position: fixed;
    bottom: 60px;
    right: 20px;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    z-index: 1000;
    align-items: flex-end;

    @media (max-width: 767px) {
      bottom: 40px;
      right: 20px;
      gap: 12px;
    }
  }
}
