@use '../../../styles/variables' as *;

.pagination {
  display: flex;
  align-items: center;
}

.paginationList {
  display: flex;
  align-items: center;
  gap: 8px;
}

.paginationButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 8px 2px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all $transition-fast;
  font-size: 19px;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  @media (max-width: 767px) {
    width: 32px;
    height: 32px;
  }
}

.paginationButtonNav {
  color: $gray-40;

  &:hover:not(:disabled) {
    color: $gray-10;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

.paginationButtonPage {
  @include pretendard-19-regular;
  color: $gray-50;

  &:hover:not(:disabled) {
    color: $gray-10;
  }
}

.paginationButtonActive {
  background-color: $primary-50;
  color: $white;
  font-weight: $font-weight-semibold;

  &:hover {
    background-color: $primary-40;
    color: $black;
  }
}
