.footer {
  background: #111;
  color: #ddd;
  padding: 40px 0px;

  @media (max-width: 767px) {
    padding: 24px 0 56px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }

    .footer__logo {
      font-size: 24px;
      font-weight: bold;
      display: flex;
      align-items: center;
      width: 160px;

      img {
        @media (max-width: 767px) {
        }
      }
    }
    .footer__link{
      display: flex;
      gap: 25px;
      align-items: center;
       @media (max-width: 767px) {
        gap: 18px;
      }
    }

    .footer__links {
      display: flex;
      gap: 40px;
      align-items: center;
      font-size: 15px;

      @media (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        font-size: 14px;
        width: 100%;
      }

      a {
        cursor: pointer;

        @media (max-width: 767px) {
          font-size: 13px;
        }
      }

      .family-btn {
        background: transparent;
        height: 56px;
        color: #fff;
        padding: 8px 20px;
        border-radius: 4px;
        border: 1px solid #fff;
        font-size: 19px;
        cursor: pointer;
        transition: all 0.3s ease;

        @media (max-width: 767px) {
          height: 40px;
          font-size: 13px;
          padding: 6px 14px;
          text-align: center;
        }

        &:hover {
          background: #fff;
          color: #111;
        }
      }
    }
  }

  &__bottom {
    border-top: 1px solid #333;
    padding-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 767px) {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 56px;
    }

    p {
      color: #717171;
      font-size: 12px;

      @media (max-width: 767px) {
        font-size: 10px;
      }
    }

    .footer__menu {
      display: flex;
      gap: 24px;
      margin-bottom: 10px;

      @media (max-width: 767px) {
        flex-wrap: wrap;
        gap: 12px 16px;
        margin-bottom: 0;
      }

      @media (max-width: 480px) {
        flex-direction: column;
      }

      a {
        cursor: pointer;
        font-size: 19px;

        @media (max-width: 767px) {
          font-size: 17px;
        }
      }
    }
  }
}
