.contact-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 56px 0 64px;
  position: relative;
  min-height: 350px;
  background-image: url("/images/pages/bg_img.png");
  background-size: cover;
  background-position: center;

  @media (max-width: 767px) {
    min-height: 320px;
  }

  &__container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }

  &__content {
    position: relative;
    color: #fff;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media (max-width: 767px) {
      width: 100%;
      align-items: center;
    }

    h2 {
      font-size: 19px;
      font-weight: 600;
      margin-bottom: 48px;
      font-family: 'Playfair', serif;

      @media (max-width: 767px) {
        margin-bottom: 32px;
      }
    }

    .subtitle {
      margin-bottom: 48px;
      font-size: 28px;
      font-family: 'Playfair', serif;
      letter-spacing: -1.2px;

      @media (max-width: 767px) {
        font-size: 20px;
      }
    }

    .description {
      font-size: 15px;
      line-height: 1.5;
      margin-bottom: 64px;

      @media (max-width: 767px) {
        font-size: 13px;
        line-height: 1.6;
      }
    }

    .contact-btn {
      padding: 0 20px;
      border: 1px solid #fff;
      background: transparent;
      color: #fff;
      height: 56px;
      cursor: pointer;
      font-size: 19px;
      transition: all 0.3s ease;
      display: flex;
      align-items: center;
      gap:4px;

      @media (max-width: 767px) {
        height: 48px;
        padding: 0 16px;
        font-size: 17px;
        svg {
          width: 20px;
          height: 20px;
        }
      }

      &:hover {
        background: #fff;
        color: #002c2c;

        svg{
          stroke: #002c2c;
          path {
            stroke: #002c2c;
          }
        }
      }
    }
  }

  &__image {
    @media (max-width: 767px) {
      display: none;
    }
  }
}