@import "@/styles/_variables";

.expertsPage {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  color: black;
  position: relative;
  padding-bottom: 160px;

  .headerImage {
    position: relative;
    z-index: 1;
    margin-top: -92px; // ← header balandligi
    padding-top: 20%;
    background-image: url("../../../public/images/pages/team_experts.png");
    background-size: cover;
    background-position: center;
    min-height: 220px;
    max-height: 400px !important;
    width: 100%;
    @media (max-width: 767px) {
      margin-top: -52px; // ← header balandligi
    }
  }

  @media (max-width: 767px) {
    min-height: 90vh;
  }
}

.pageContent {
  width: 100%;
}

// Hero Section
.heroSection {
  position: relative;
  padding: 140px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: visible;

  @media (max-width: $breakpoint-desktop) {
    padding: 100px 0px 100px;
  }

  @media (max-width: $breakpoint-tablet) {
    padding: 56px 0px 40px;
  }
}

.heroSubtitle {
  font-family: $font-noto;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.075px;
  color: $primary-70;
  text-align: center;
  @media (max-width: $breakpoint-tablet) {
    font-size: 15px;
  }
}

.heroTitle {
  font-family: "Arita Buri KR", serif;
  font-weight: 600;
  font-size: 68px;
  color: $gray-90;
  text-align: center;
  letter-spacing: -3px;
  margin-top: 24px;
  span {
    color: $primary-50;
  }
  @media (max-width: $breakpoint-tablet) {
    font-size: 28px;
    margin-top: 32px;
  }
}

.heroDescriptionText {
  font-family: $font-pretendard;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: -0.085px;
  color: $gray-90;
  margin-top: -15px;
  text-align: center;
  margin-top: 56px;

  @media (max-width: $breakpoint-tablet) {
    margin-top: 20px;
  }

  p {
    margin: 0;
    font-size: 17px;

    @media (max-width: $breakpoint-tablet) {
      font-size: 13px;
    }
  }
}

.boldText {
  font-weight: 600;
}

.heroContent {
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: visible;
  justify-content: center;

  margin-top: 64px;
  background: var(--grayscale-5, #f8f8f8);
  padding: 64px 0;
  @media (max-width: $breakpoint-desktop) {
    margin-top: 40px;
    padding: 24px 20px;
    width: 100vw;
  }
}

.fieldSelector {
  position: relative;
  width: 100%;
  max-width: 800px;
}

.fieldSelectorInput {
  width: 100%;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid var(--grayscale-20, #e4e4e4);
  background: var(--Primary-0, #fff);

  p {
    font-family: $font-pretendard;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: $gray-50;
    margin: 0;
    flex: 1;
    &.selected {
      color: $gray-90;
      font-weight: 500;
    }
  }

  &:hover {
    border-color: $gray-60;
  }
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-width: 800px;
  background: #fff;
  z-index: 1001;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  isolation: isolate;
  padding: 0 5px 5px 5px;
  -webkit-box-shadow: 0px 5px 6px 3px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 5px 6px 3px rgba(0, 0, 0, 0.22);
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $gray-30;
    border-radius: 100px;
    margin-right: 9px;
  }

  // Firefox scrollbar
  scrollbar-width: thin;
  scrollbar-color: $gray-30 transparent;

  @media (max-width: $breakpoint-tablet) {
    max-height: 200px;
  }
}

.dropdownItem {
  padding: 16px 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 6px;
  // margin-bottom: 2px;

  p {
    font-family: $font-pretendard;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: -0.075px;
    color: $gray-90;
    margin: 0;
  }

  &:hover {
    background: $gray-10;
  }
}

.dropdownItemActive {
  background: $gray-10;
}

// Experts List Section
.expertsListSection {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  @media (max-width: $breakpoint-tablet) {
  }
}

.expertsListContent {
  width: 100%;
  padding: 40px 0;

  @media (max-width: $breakpoint-tablet) {
    padding: 16px 0;
  }
}

.expertsListLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 80px;

  @media (max-width: $breakpoint-desktop) {
    gap: 40px;
  }
}

.expertsListHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 130px;
  flex-shrink: 0;

  @media (max-width: $breakpoint-desktop) {
    width: 100%;
  }
}

.expertsListTitle {
  color: $gray-90;
  font-family: $font-noto;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 75px */
  letter-spacing: -0.25px;
  margin: 0;

  @media (max-width: $breakpoint-desktop) {
    font-size: 36px;
  }

  @media (max-width: $breakpoint-tablet) {
    font-size:28px;
  }
}

.expertsGridWrapper {
  flex: 1;
  width: 100%;

  @media (max-width: $breakpoint-desktop) {
    max-width: 100%;
  }

  @media (max-width: $breakpoint-tablet) {
    max-width: 100%;
  }
}

.expertsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px 24px;
  width: 100%;
  padding-bottom: 100px;

  @media (max-width: $breakpoint-desktop) {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 60px;
  }

  @media (max-width: $breakpoint-tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 56px 16px;
    padding-bottom: 40px;
  }
}

.expertCard {
  width: 100%;
}


// Floating Buttons
.floatingButtons {
  position: fixed;
  bottom: 60px;
  right: 20px;
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  z-index: 1000;
  align-items: flex-end;

  @media (max-width: $breakpoint-tablet) {
    bottom: 40px;
    right: 20px;
    gap: 34px;
  }
}
